<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <!-- Uncomment to use Endpoints Frameworks v1.0 and comment the v2.0 section -->
        <!--
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        -->
        <!-- End of Endpoints Frameworks v1.0 -->
        <!-- Endpoints Frameworks v2.0 -->
        <servlet-name>EndpointsServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.EndpointsServlet</servlet-class>
        <!-- End of Endpoints Frameworks v2.0 -->
        <init-param>
            <param-name>services</param-name>
            <param-value>com.tinyinsta.LikesRoutes, com.tinyinsta.Posts, com.tinyinsta.Users, com.tinyinsta.Follows</param-value>
        </init-param>
        <init-param>
            <param-name>restricted</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <!-- Uncomment to use Endpoints Frameworks v1.0 and comment the v2.0 section -->
        <!--
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
        -->
        <!-- End of Endpoints Frameworks v1.0 -->
        <!-- Endpoints Frameworks v2.0 -->
        <servlet-name>EndpointsServlet</servlet-name>
        <url-pattern>/_ah/api/*</url-pattern>
        <!-- End of Endpoints Frameworks v2.0 -->
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
